<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ZipCodeProviderType" value="MSSQL" />
  </appSettings>
  <connectionStrings>
    <add name="ZipCodeDatabase" connectionString="Server=(local)\SQL2k8;Database=ZipCodeTest;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>