<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
			ZIP Code Provider Type
				Database type.  Can be one of the following:
					* MSSQL (not yet implemented)
		-->
    <add key="ZipCodeProviderType" value="MSSQL" />
    <add key="ZipCodeConnString" value="Server=(local)\SQL2k8;Database=ZipCodeTest;Trusted_Connection=True;" />
  </appSettings>
</configuration>