<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
			ZIP Code Provider Type
				Database type.  Can be one of the following:
					* Access
					* MSSQL (not yet implemented)
		-->
    <add key="ZipCodeProviderType" value="Access" />
    <add key="ZipCodeConnString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Dev\SagaraSoftware\ZipCodeUtil\zipbase.mdb" />
  </appSettings>
</configuration>